<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>出前 Bocco</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
      function start() {
        $.get('start');
      }

      $(document).on('click', '#start', start);
    </script>
  </head>
  <body>
    <h1>出前 Bocco</h1>
    <button id="start" type="button">お昼どうする?</button>

    <h2>設定</h2>

    <h3>Bocco</h3>
    <%= boccoDescription %>

    <h3>店舗</h3>
    <%= restaurantDescription %>

    <h3>お昼選び</h3>
    <%= foodChooserDescription %>
  </body>
</html>
